@page "/PaymentCallback/{id}"
@model ModShop.RazorPages.Pages._User.Orders.PaymentCallbackModel
@{
}


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success rtl" role="alert">
                    سفارش شما با موفقیت پرداخت شد!
                </div>
            </div>
        </div>
    </div>
</div>