@page "/Account/Logout"
@model ModShop.RazorPages.Pages._User.Account.LogoutModel
@{
}

@Html.AntiForgeryToken()
<form id="logout-form" method="post"></form>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#logout-form').submit();
        });

    </script>
}
