@page "/Account/SignUp"
@namespace ModShop.RazorPages.Pages._User.Account
@model ModShop.RazorPages.Pages._User.Account.SignUpModel
@{
    ViewData["Title"] = "مدشاپ | ثبت نام";
}
<!--begin::Aside Top-->
<div class="d-flex flex-column-auto flex-column px-10">
    <!--begin::Aside header-->
    <a href="~/index.html#" class="login-logo pb-lg-4 pb-10">
        <img src="~/web/assets/img/logo.png" class="max-h-70px" alt="" />
    </a>
    <!--end::Aside header-->
    <!--begin: ویزار Nav-->
    <div class="wizard-nav pt-5 pt-lg-15 pb-10">
        <!--begin::ویزار Steps-->
        <div class="wizard-steps d-flex flex-column flex-sm-row">
            <!--begin::ویزار Step 1 Nav-->
            <div class="wizard-step flex-grow-1 flex-basis-0" data-wizard-type="step" data-wizard-state="current">
                <div class="wizard-wrapper pr-7">
                    <div class="wizard-icon">
                        <i class="wizard-check ki ki-check"></i>
                        <span class="wizard-number">1</span>
                    </div>
                    <div class="wizard-label">
                        <h3 class="wizard-title">
                            اکانت
                        </h3>
                        <div class="wizard-desc">
                            جزییات اکانت
                        </div>
                    </div>
                    <span class="svg-icon pl-6">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(270.000000) translate(-14.999999, -11.999997) "></path>
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <!--end::ویزار Step 1 Nav-->
            <!--begin::ویزار Step 2 Nav-->
            <div class="wizard-step flex-grow-1 flex-basis-0" data-wizard-type="step">
                <div class="wizard-wrapper pr-7">
                    <div class="wizard-icon">
                        <i class="wizard-check ki ki-check"></i>
                        <span class="wizard-number">2</span>
                    </div>
                    <div class="wizard-label">
                        <h3 class="wizard-title">
                            آدرس
                        </h3>
                        <div class="wizard-desc">
                            آدرس مسکونی
                        </div>
                    </div>
                    <span class="svg-icon pl-6">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(270.000000) translate(-14.999999, -11.999997) "></path>
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <!--end::ویزار Step 2 Nav-->
            <!--begin::ویزار Step 3 Nav-->
            <div class="wizard-step flex-grow-1 flex-basis-0" data-wizard-type="step">
                <div class="wizard-wrapper">
                    <div class="wizard-icon">
                        <i class="wizard-check ki ki-check"></i>
                        <span class="wizard-number">3</span>
                    </div>
                    <div class="wizard-label">
                        <h3 class="wizard-title">
                            کامل
                        </h3>
                        <div class="wizard-desc">
                            ارسال فرم
                        </div>
                    </div>
                </div>
            </div>
            <!--end::ویزار Step 3 Nav-->
        </div>
        <!--end::ویزار Steps-->
    </div>
    <!--end: ویزار Nav-->
</div>
<!--end::Aside Top-->
<!--begin::Signin-->
<div class="login-form">
    <!--begin::Form-->
    <form class="form px-10" novalidate="novalidate" id="kt_login_signup_form" method="post">
        <!--begin: ویزار Step 1-->
        <div class=" " data-wizard-type="step-content" data-wizard-state="current">
            <!--begin::Title-->
            <div class="pb-10 pb-lg-12">
                <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">ساخت حساب کاربری</h3>
                <div class="text-muted font-weight-bold font-size-h4">
                    قبلاً حساب دارید؟
                    <a href="signin.html" class="text-primary font-weight-bolder">ورود</a>
                </div>
            </div>


            <!--begin::Title-->
            <!--begin::Form گروه-->
            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">ایمیل</label>
                <input type="text" class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6" asp-for="Input.Email" placeholder="ایمیل" value="" />
            </div>

            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">نام</label>
                <input type="text" class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6" asp-for="Input.Name" placeholder="نام" value="" />
            </div>


            <!--end::Form گروه-->
            <!--begin::Form گروه-->
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">نام خانوادگی</label>
                <input type="text" class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6" asp-for="Input.Family" placeholder="نام خانوادگی" value="" />
            </div>

            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">رمز عبور</label>
                <input type="password" class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6" asp-for="Input.Password" placeholder="رمز عبور" value="" />
            </div>

            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">تایید رمز عبور</label>
                <input type="password" class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6" asp-for="Input.ConfirmPassword" placeholder="تایید رمز عبور" value="" />
            </div>


            <!--end::Form گروه-->
        </div>
        <!--end: ویزار Step 1-->
        <!--begin: ویزار Step 2-->
        <div class="pb-5" data-wizard-type="step-content">
            <!--begin::Title-->
            <!--begin::Title-->
            <!--begin::Row-->
            <div class="row">
                <div class="col-xl-12">
                    <!--begin::ورودی-->
                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder text-dark">آدرس</label>
                        <textarea class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6" asp-for="Input.Address" placeholder="آدرس" value="آدرس"></textarea>
                        <span class="form-text text-muted">لطفا آدرس خود را وارد کنید</span>
                    </div>
                    <!--end::ورودی-->
                </div>
            </div>
            <!--end::Row-->
            <!--begin::Row-->
            <div class="row">
                <div class="col-xl-6">
                    <!--begin::ورودی-->
                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder text-dark">استان</label>
                        <input type="text" class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6" asp-for="Input.Province" placeholder="استان" value="" />
                        <span class="form-text text-muted">لطفا استان را وارد کنید</span>
                    </div>
                    <!--end::ورودی-->
                </div>

                <div class="col-xl-6">
                    <!--begin::ورودی-->
                    <div class="form-group">
                        <label class="font-size-h6 font-weight-bolder text-dark">شهر</label>
                        <input type="text" class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6" asp-for="Input.City" placeholder="شهر" value="" />
                        <span class="form-text text-muted">لطفا شهر را وارد کنید</span>
                    </div>
                    <!--end::ورودی-->
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end: ویزار Step 2-->
        <!--begin: ویزار Step 3-->
        <div class="pb-5" data-wizard-type="step-content">
            <!--begin::Title-->
            <div class="pt-lg-0 pt-5 pb-15">
                <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">کامل</h3>
                <div class="text-muted font-weight-bold font-size-h4">
                    ثبت نام خود را کامل کنید و عضو شوید!
                </div>
            </div>
            <!--end::Title-->
            <!--begin::Section-->
            <h4 class="font-weight-bolder mb-3">
                تنظیمات اکانت:
            </h4>
            <div class="text-dark-50 font-weight-bold line-height-lg mb-8">
                <div id="fullname-review">نیک استون</div>
                <div id="email-review">nick.stone@gmail.com</div>
            </div>
            <!--end::Section-->
            <!--begin::Section-->
            <h4 class="font-weight-bolder mb-3">
                جزییات آدرس:
            </h4>
            <div class="text-dark-50 font-weight-bold line-height-lg mb-8">
                <div id="address-review">آدرس 1</div>
                <div id="province-review"></div>
            </div>
            <!--end::Section-->
            <!--begin::Section-->
            @*<h4 class="font-weight-bolder mb-3">
                    پشتیبانی:
                </h4>
                <div class="text-dark-50 font-weight-bold line-height-lg mb-8">
                    <div>تحویل شبانه با بسته بندی منظم</div>
                    <div>صبح ترجیحی (8:00 صبح - 11:00 صبح) تحویل</div>
                </div>*@
            <!--end::Section-->
        </div>
        <!--end: ویزار Step 5-->
        <!--begin: ویزار عملیات-->
        <div class="d-flex justify-content-between pt-7">
            <div class="mr-2">
                <button type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 pr-8 pl-6 py-4 my-3 mr-3" data-wizard-type="action-prev">
                    <span class="svg-icon svg-icon-md mr-2">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/راست-2.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000) " x="14" y="7" width="2" height="10" rx="1" />
                                <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997) " />
                            </g>
                        </svg><!--end::Svg Icon-->
                    </span>                                قبلی
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3" data-wizard-type="action-submit" type="submit" id="kt_login_signup_form_submit_button">
                    ارسال
                    <span class="svg-icon svg-icon-md ml-2">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/چپ-2.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000) " x="7.5" y="7.5" width="2" height="9" rx="1" />
                                <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) " />
                            </g>
                        </svg><!--end::Svg Icon-->
                    </span>
                </button>

                <button type="button" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3" data-wizard-type="action-next">
                    بعدی
                    <span class="svg-icon svg-icon-md ml-2">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/چپ-2.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24" />
                                <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000) " x="7.5" y="7.5" width="2" height="9" rx="1" />
                                <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) " />
                            </g>
                        </svg><!--end::Svg Icon-->
                    </span>
                </button>
            </div>
        </div>
        <!--end: ویزار عملیات-->
    </form>
    <!--end::Form-->
</div>
<!--end::Signin-->

@section Scripts{
    <script>
        "use strict";

        // Class Definition
        var KTLogin = function () {
            var _buttonSpinnerClasses = 'spinner spinner-right spinner-white pr-15';

            var _handleFormSignin = function () {
                var form = KTUtil.getById('kt_login_singin_form');
                var formSubmitUrl = KTUtil.attr(form, 'action');
                var formSubmitButton = KTUtil.getById('kt_login_singin_form_submit_button');

                if (!form) {
                    return;
                }

                FormValidation
                    .formValidation(
                        form,
                        {
                            fields: {
                                username: {
                                    validators: {
                                        notEmpty: {
                                            message: 'وارد کردن نام کاربری اجباری است'
                                        }
                                    }
                                },
                                password: {
                                    validators: {
                                        notEmpty: {
                                            message: 'وارد کردن کلمه عبور اجباری است'
                                        }
                                    }
                                }
                            },
                            plugins: {
                                trigger: new FormValidation.plugins.Trigger(),
                                submitButton: new FormValidation.plugins.SubmitButton(),
                                //defaultSubmit: new FormValidation.plugins.DefaultSubmit(), // Uncomment this line to enable normal button submit after form validation
                                bootstrap: new FormValidation.plugins.Bootstrap({
                                    //	eleInvalidClass: '', // Repace with uncomment to hide bootstrap validation icons
                                    //	eleValidClass: '',   // Repace with uncomment to hide bootstrap validation icons
                                })
                            }
                        }
                    )
                    .on('core.form.valid', function () {
                        // Show loading state on button
                        KTUtil.btnWait(formSubmitButton, _buttonSpinnerClasses, "لطفا صبر کنید");

                        // Simulate Ajax request
                        setTimeout(function () {
                            KTUtil.btnRelease(formSubmitButton);
                        }, 2000);

                        // Form Validation & Ajax Submission: https://formvalidation.io/guide/examples/using-ajax-to-submit-the-form

                        /**
                        FormValidation.utils.fetch(formSubmitUrl, {
                            method: 'POST',
                            dataType: 'json',
                            params: {
                                name: form.querySelector('[name="username"]').value,
                                email: form.querySelector('[name="password"]').value,
                            },
                        }).then(function(response) { // Return valid JSON
                            // Release button
                            KTUtil.btnRelease(formSubmitButton);

                            if (response && typeof response === 'object' && response.status && response.status == 'success') {
                                Swal.fire({
                                    text: "همه چیز جالب است! اکنون این فرم را ارسال می کنید",
                                    icon: "success",
                                    buttonsStyling: false,
                                    confirmButtonText: "باشه فهمیدم!",
                                    customClass: {
                                        confirmButton: "btn font-weight-bold btn-light-primary"
                                    }
                                }).then(function() {
                                    KTUtil.scrollTop();
                                });
                            } else {
                                Swal.fire({
                                    text: "ببخشید ، مشکلی پیش آمد ، لطفاً دوباره امتحان کنید.",
                                    icon: "error",
                                    buttonsStyling: false,
                                    confirmButtonText: "باشه فهمیدم!",
                                    customClass: {
                                        confirmButton: "btn font-weight-bold btn-light-primary"
                                    }
                                }).then(function() {
                                    KTUtil.scrollTop();
                                });
                            }
                        });
                        **/
                    })
                    .on('core.form.invalid', function () {
                        Swal.fire({
                            text: "با عرض پوزش ، به نظر می رسد برخی از خطاها شناسایی شده اند ، لطفا دوباره امتحان کنید.",
                            icon: "error",
                            buttonsStyling: false,
                            confirmButtonText: "باشه فهمیدم!",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then(function () {
                            KTUtil.scrollTop();
                        });
                    });
            }

            var _handleFormForgot = function () {
                var form = KTUtil.getById('kt_login_forgot_form');
                var formSubmitUrl = KTUtil.attr(form, 'action');
                var formSubmitButton = KTUtil.getById('kt_login_forgot_form_submit_button');

                if (!form) {
                    return;
                }

                FormValidation
                    .formValidation(
                        form,
                        {
                            fields: {
                                email: {
                                    validators: {
                                        notEmpty: {
                                            message: 'ایمیل لازم است'
                                        },
                                        emailAddress: {
                                            message: "مقدار یک آدرس ایمیل معتبر نیست"
                                        }
                                    }
                                }
                            },
                            plugins: {
                                trigger: new FormValidation.plugins.Trigger(),
                                submitButton: new FormValidation.plugins.SubmitButton(),
                                //defaultSubmit: new FormValidation.plugins.DefaultSubmit(), // Uncomment this line to enable normal button submit after form validation
                                bootstrap: new FormValidation.plugins.Bootstrap({
                                    //	eleInvalidClass: '', // Repace with uncomment to hide bootstrap validation icons
                                    //	eleValidClass: '',   // Repace with uncomment to hide bootstrap validation icons
                                })
                            }
                        }
                    )
                    .on('core.form.valid', function () {
                        // Show loading state on button
                        KTUtil.btnWait(formSubmitButton, _buttonSpinnerClasses, "لطفا صبر کنید");

                        // Simulate Ajax request
                        setTimeout(function () {
                            KTUtil.btnRelease(formSubmitButton);
                        }, 2000);
                    })
                    .on('core.form.invalid', function () {
                        Swal.fire({
                            text: "با عرض پوزش ، به نظر می رسد برخی از خطاها شناسایی شده اند ، لطفا دوباره امتحان کنید.",
                            icon: "error",
                            buttonsStyling: false,
                            confirmButtonText: "باشه فهمیدم!",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then(function () {
                            KTUtil.scrollTop();
                        });
                    });
            }

            var _handleFormSignup = function () {
                // Base elements
                var wizardEl = KTUtil.getById('kt_login');
                var form = KTUtil.getById('kt_login_signup_form');
                var wizardObj;
                var validations = [];

                if (!form) {
                    return;
                }

                // Init form validation rules. For more info check the FormValidation plugin's official documentation:https://formvalidation.io/
                // Step 1
                validations.push(FormValidation.formValidation(
                    form,
                    {
                        fields: {
                            'Input.Email': {
                                validators: {
                                    notEmpty: {
                                        message: "ایمیل لازم است"
                                    }
                                }
                            },
                            'Input.Name': {
                                validators: {
                                    notEmpty: {
                                        message: "نام لازم است"
                                    }
                                }
                            },

                            'Input.Family': {
                                validators: {
                                    notEmpty: {
                                        message: "نام خانوادگی لازم است"
                                    }
                                }
                            },
                            'Input.Password': {
                                validators: {
                                    notEmpty: {
                                        message: "رمز عبور لازم است"
                                    }
                                }
                            },
                            'Input.ConfirmPassword': {
                                validators: {
                                    notEmpty: {
                                        message: "تایید رمز عبور لازم است"
                                    }
                                }
                            },

                        },
                        plugins: {
                            trigger: new FormValidation.plugins.Trigger(),
                            bootstrap: new FormValidation.plugins.Bootstrap()
                        }
                    }
                ));

                // Step 2
                validations.push(FormValidation.formValidation(
                    form,
                    {
                        fields: {
                            'Input.Address': {
                                validators: {
                                    notEmpty: {
                                        message: "آدرس لازم است"
                                    }
                                }
                            },
                            'Input.Province': {
                                validators: {
                                    notEmpty: {
                                        message: "استان لازم است"
                                    }
                                }
                            },
                            'Input.City': {
                                validators: {
                                    notEmpty: {
                                        message: "شهر مورد نیاز است"
                                    }
                                }
                            },
                        },
                        plugins: {
                            trigger: new FormValidation.plugins.Trigger(),
                            bootstrap: new FormValidation.plugins.Bootstrap()
                        }
                    }
                ));


                // Initialize form wizard
                wizardObj = new KTWizard(wizardEl, {
                    startStep: 1, // initial active step number
                    clickableSteps: false // to make steps clickable this set value true and add data-wizard-clickable="true" in HTML for class="wizard" element
                });

                // Validation before going to next page
                wizardObj.on('beforeNext', function (wizard) {
                    validations[wizard.getStep() - 1].validate().then(function (status) {
                        if (status == 'Valid') {
                            wizardObj.goNext();
                            KTUtil.scrollTop();
                        } else {
                            Swal.fire({
                                text: "با عرض پوزش ، به نظر می رسد برخی از خطاها شناسایی شده اند ، لطفا دوباره امتحان کنید.",
                                icon: "error",
                                buttonsStyling: false,
                                confirmButtonText: "باشه فهمیدم!",
                                customClass: {
                                    confirmButton: "btn font-weight-bold btn-light-primary"
                                }
                            }).then(function () {
                                KTUtil.scrollTop();
                            });
                        }
                    });

                    if (wizard.getStep() == 2) {
                        $('#fullname-review').html($('#Input_Name').val() + ' ' + $('#Input_Family').val());
                        $('#email-review').html($('#Input_Email').val());
                        $('#address-review').html($('#Input_Address').val());
                        $('#province-review').html('ایران ' + $('#Input_Province').val() + ' ' + $('#Input_City').val());
                    }
                    wizardObj.stop();  // Don't go to the next step
                });

                // Change event
                wizardObj.on('change', function (wizard) {
                    KTUtil.scrollTop();
                });
            }

            // Public Functions
            return {
                init: function () {
                    _handleFormSignin();
                    _handleFormForgot();
                    _handleFormSignup();
                }
            };
        }();

        // Class Initialization
        jQuery(document).ready(function () {
            KTLogin.init();
            $('#kt_login_signup_form_submit_button').on('click', function () {
                $('#kt_login_signup_form').submit();
            });
        });

    </script>
}